h1 {
    color: grey;
    font-family: 'Gothic A1', sans-serif;
    font-size: 2em;
}


#container {
    background: url("../../../../../../../Downloads/background.jpeg") center/cover no-repeat;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr 4fr 1fr;
}